# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
Debug/
DebugS/
Release/
ReleaseS/
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.vspx
*.exp
*.dmp
*.aps
*.sdf
*.opensdf
*.log
*.suo
*.obj
*.tlog
*.idb
*.sbr
*.bsc
*.pch
*.pdb
*.tlh
*.tli




#VS
*.sdf
*.opensdf
*.log
*.suo
*.obj
*.tlog
*.idb
*.sbr
*.bsc
*.pch
*.pdb
*.tlh
*.tli
LudoSvr.exe
ZgSaSvr.res
Debug/
UnitTest/Debug/
rttr/Debug/
easyLog/Debug/
CommonBase/Debug/
CommonGame/Debug/
TestGS/Debug/
TestGS/log/
*.vcxproj.filters
*.vcxproj.user
Debug/Replay
Debug/Solo
ipch/
TCFXPC.sdf
CommonBase/Release
*.vspx
easyLog/Release
zgsasvr/Release

CommonBase/ReleaseS/
CommonGame/ReleaseS/
easyLog/ReleaseS/

ReleaseS/LudoSvr.exe
ReleaseS/ZgSaSvr.exe
ReleaseS/ZgSaSvr.pdb
*.exp
*.dmp
*.aps
.vs/config/applicationhost.config
.vs/YQBase/v15/Browse.VC.db
.vs/YQBase/v15/Browse.VC.opendb
